<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          Ad Unit
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          Ad Unit
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="jumbotron">
        <!-- TODO: Cycle through all active announcements, maybe carousel -->
        <h2>{{announcements[0].title}}</h2>
        <p>{{announcements[0].body}}</p>
        <p><a class="btn btn-primary btn-lg" role="button" ng-href="{{announcements[0].link}}">
          Learn more
        </a></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          Ad Unit
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Activity Feed
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          News Feed
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              Cras justo odio <span class="label label-default">New</span>
            </li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Social Feed
        </div>
        <div class="panel-body">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" width=32 height=32 src="img/cmorgan.jpg">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Chris Morgan</h4>
              <p>Cras justo odio</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
