<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          Ad Unit
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          Ad Unit
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs">
      <li><a href="#/trading">MATCHES</a></li>
      <li class="active">
        <a href="#/offers">OFFERS <span class="badge">2</span></a>
      </li>
    </ul>
  </div>
  <div class="modal fade" id="offer0Modal" tabindex="-1" role="dialog" aria-labelledby="offer0ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="offer0ModalLabel">Offer Details</h4>
        </div>
        <div class="modal-body">
          TODO
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
          </button>
          <button type="button" class="btn btn-danger">Reject</button>
          <button type="button" class="btn btn-warning">Counter</button>
          <button type="button" class="btn btn-primary">Accept</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="offer1Modal" tabindex="-1" role="dialog" aria-labelledby="offer1ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="offer1ModalLabel">Offer Details</h4>
        </div>
        <div class="modal-body">
          TODO
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
          </button>
          <button type="button" class="btn btn-danger">Reject</button>
          <button type="button" class="btn btn-warning">Counter</button>
          <button type="button" class="btn btn-primary">Accept</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Username</th>
        <th>You Receive</th>
        <th>You Send</th>
      </tr>
      </thead>
      <tbody>
        <!-- TODO: Figure out how to get the offerId into the tr -->
        <tr ng-repeat="offer in offers">
          <td>{{offer.username}}</td>
          <td>
            <div ng-repeat="beer in offer.you_get">
              {{beer.name}} ({{beer.quantity}})<br>
            </div>
          </td>
          <td>
            <div ng-repeat="beer in offer.you_send">
              {{beer.name}} ({{beer.quantity}})<br>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
