<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          Ad Unit
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          Ad Unit
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#/trading">MATCHES</a></li>
      <li><a href="#/offers">OFFERS <span class="badge">2</span></a></li>
    </ul>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Username</th>
        <th>Location</th>
        <th>Beers You Want</th>
        <th>Beers They Want</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
	<td>arrogantbastard</td>
	<td>San Diego, CA</td>
	<td>Stone Imperial Russian Stout</td>
	<td>Dogfish Head 120</td>
	<td><a href="#">Make an Offer</a> | <a href="#">Remove</a></td>
      </tr>
      <tr>
	<td>gregk</td>
	<td>San Diego, CA</td>
	<td>Evil Dead Red</td>
	<td>Stone Vanilla Smoked Porter</td>
	<td><a href="#">Make an Offer</a> | <a href="#">Remove</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
