<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          Ad Unit
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          Ad Unit
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#/trading">MATCHES</a></li>
      <li><a href="#/offers">OFFERS <span class="badge">2</span></a></li>
    </ul>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Username</th>
        <th>Location</th>
        <th>Beers You Want</th>
        <th>Beers They Want</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="match in matches">
          <td>{{match.username}}</td>
          <td>{{match.location}}</td>
          <td> 
            <div ng-repeat="beer in match.you_want">
              {{beer.name}} ({{beer.quantity}})<br>
            </div>
          </td>
          <td> 
            <div ng-repeat="beer in match.they_want">
              {{beer.name}} ({{beer.quantity}})<br>
          </td>
	        <td><a href="#">Make an Offer</a> | <a href="#">Remove</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
